body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.text {
  width: 700px;
}

.container {
  margin: 40px;
}

.x-axis,
.y-axis {
  font-size: 14px;
}

.table {
  margin: 20px 0px;
  width: 95%;

  @media only screen and (min-width: 768px) {
    width: 80%;
  }
}

.plot{
  overflow-x: scroll;
}

#result-constituents {
  max-height: 80%;
  max-width: 95%;
  overflow-y: scroll;

  @media only screen and (min-width: 768px) {
    max-width: 80%;
  }
}
