body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.text {
  max-width: 700px;
}

.container {
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 40px;
  }
}

.x-axis,
.y-axis {
  font-size: 14px;
}

.table {
  margin: 20px 0px;
  max-width: 95%;
}

.plot {
  overflow-x: scroll;
}

#result-constituents {
  display: flex;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgba(42, 42, 42, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(172, 172, 172, 0.5);
}
